/* Style untuk halaman reset password */
.newpassword-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #bedaff;
    font-family: Arial, sans-serif;
  }
  
  .newpassword {
    background-color: white;
    padding: 2rem;
    border-radius: 3.3rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  .newpassword h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .newpassword p {
    font-size: 1rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .newpassword-form {
    display: flex;
    flex-direction: column;
  }
  
  .input-wrap {
    position: relative;
    margin-bottom: 1.5rem;
  }
  
  .input-field {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 0.5rem;
  }
  
  .input-field:focus {
    border-color: #007bff;
    outline: none;
  }
  
  label {
    position: absolute;
    top: 0.5rem;
    left: 1rem;
    font-size: 0.875rem;
    color: #666;
    pointer-events: none;
    transition: all 0.2s ease;
  }
  
  .input-field:focus + label,
  .input-field:not(:placeholder-shown) + label {
    top: -0.75rem;
    font-size: 0.75rem;
    color: #007bff;
  }
  
  .submit-btn {
    display: inline-block;
    width: 100%;
    height: 43px;
    background-color: #151111;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0.8rem;
    font-size: 0.8rem;
    margin-bottom: 2rem;
    transition: 0.3s;
  }
  
  .submit-btn:hover {
    background-color: #bedaff;
  }
  
  .back-to-login {
    text-align: center;
    margin-top: 1rem;
  }
  
  .back-to-login a {
    color: #007bff;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .back-to-login a:hover {
    text-decoration: underline;
  }
  